.copyright {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: gray;
  background-color: whitesmoke;
  width: 100%;
  bottom: 0;
  height: 2.5rem;
  position: absolute;
}
