<h2 mat-dialog-title>Delete note</h2>
<mat-dialog-content>Are you sure you want to delete note?</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close mat-dialog-close="false"><mat-icon>close</mat-icon>Cancel</button>
  <button mat-button color="warn" class="noteButtonDelete" mat-dialog-close mat-dialog-close="true"><mat-icon>delete</mat-icon>Delete</button>
</mat-dialog-actions>
