
<button mat-raised-button (click)="openEditDialog(-1)" style="margin: 5px"><mat-icon>note_add</mat-icon>New note</button><br>

<div class="notes">
  <mat-card class="noteBody" *ngFor="let note of notes; let i = index">
    <mat-card-title class="noteTitle">{{note.title}}</mat-card-title>
    <mat-card-content class="noteText">{{note.content}}</mat-card-content>
    <mat-card-actions><button mat-icon-button color="black" [matMenuTriggerFor]="menu" class="noteButton"><mat-icon>more_vert</mat-icon></button></mat-card-actions>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openEditDialog(i)"><mat-icon>edit_note</mat-icon>Edit</button>
      <button mat-menu-item (click)="openDeleteDialog(i)" class="noteButtonDelete" style="color: red"><mat-icon>delete</mat-icon>Delete</button>
    </mat-menu>
  </mat-card>
</div>
