.notes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}


.noteBody {
  margin: 5px;
  padding: 8px;
  background: darkseagreen;
  min-height: 200px;
  min-width: 200px;
  max-width: 380px;
  border-radius: 8px;
}

.noteTitle {
  font-size: 20px;
  color: black;
}

.noteText {
  font-size: 16px;
  color: black;
}

.noteButton {
  bottom: 0;
  position: absolute;
}

.noteButtonEdit {}

.noteButtonDelete {}

.noteButtonAdd {}
