<head>
  <title>{{title}}</title>
</head>
<div class="page-container">
  <div class="content-wrap">
    <app-header></app-header>
    <app-main></app-main>
  </div>
  <app-footer></app-footer>
</div>
