<h2 mat-dialog-title>{{data.fieldTitle}}</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Title" [value]="data.title" #inputTitle/>
  </mat-form-field><br>
  <mat-form-field appearance="fill">
    <mat-label>Content</mat-label>
    <input matInput placeholder="Content" [value]="data.content" #inputContent/>
  </mat-form-field>
  <!--<textarea></textarea>-->
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close mat-dialog-close="false"><mat-icon>close</mat-icon>Cancel</button>
  <button mat-button mat-dialog-close mat-dialog-close='{"title": "{{inputTitle.value}}", "content": "{{inputContent.value}}"}'><mat-icon>done</mat-icon>Save</button>
</mat-dialog-actions>
